@media only screen and (max-width: 600px) {
    .btn {
        padding: 12px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .note-grid {
        grid-template-columns: 1fr;
    }

    .flex-delete-buttons {
        display: grid;
        grid-template-columns: 1;
        gap: 3%;
        width: 100%;
    }

    .flex-delete-buttons button {
        width: 100% !important;
    }
}